@font-face {
	font-family: yellowtail;
	src: url(../fonts/yellowtail.ttf);
}

div.header {
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	width: 1000px;
	margin: 0px auto 0px auto;
}

h1.mainFont {
	font-family: impact;
	font-size: 150px;
	color: gold;
	text-shadow: 10px -2px 2px darkblue;
}

h1.subfont {
	font-family: yellowtail;
	font-size: 100px;
	position: absolute;
	text-align: center;
	color: orange;
	top: 77px;
	right: 200px;
	text-shadow: 4px -2px black;
	width: auto;
	transform: rotate(-15deg);
}

.mainPicture {
	float: left;
	overflow: auto;
	width: 50%;
	padding-top: 10px;
}

img.cover {
	width: 95%;
	box-shadow: 5px -3px 5px black;

}

#game {
	float: left;
	width: 50%;
}
#question {
	padding-bottom: 10px;
}

#container {
	box-sizing: border-box;
	border-top-width: 10px;
	border-style: double;	
	border-color: gray;
	margin: auto;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	height: auto;
	overflow: auto;
	background-color: lightblue;

}

.movieStills {
	width: 90%;
	height: auto;
	margin: auto;
}

#intro {
	margin-top: 125px;
	padding-bottom: 10px;
}

.hover {
	box-shadow: 5px -3px 5px black;
}

#timeDisplay {
	padding-bottom: 10px;
}

.button {
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	width: 100px;
	margin: auto;
	padding: 5px;
}

.choices {
	width: 400px;
	margin: auto auto 10px auto;
}